main.article-page-main h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 5px 0;
  color: #ffffff;
  vertical-align: baseline;
}
main.article-page-main article {
  grid-column: 1 / -1;
  background-color: #373438;
}
main.article-page-main article h2 {
  margin: 0 0 20px 0;
}
main.article-page-main article h3,
main.article-page-main article h4,
main.article-page-main article h5,
main.article-page-main article h6 {
  margin: 10px 0;
  text-align: center;
}
main.article-page-main article img {
  margin: 0 auto;
}
main.article-page-main article ul {
  width: max-content;
  list-style: disc;
  font-weight: bold;
  margin: 0 auto 10px;
}
main.article-page-main article section.list-of-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.article-page-main article section.list-of-contents h3 {
  margin-bottom: 0;
}
main.article-page-main article section.list-of-contents ul li a {
  display: inline-block;
  width: 100%;
}
footer p {
  text-indent: unset;
}
