@import "vars";
@media (min-width: 577px) and (max-width: 768px) {
	html {
		font-size: 16px;
	}
	body {
		margin: 0 20px;
	}
	header {
		img {
			display:      inline-block;
			float:        left;
			width:        20%;
			height:       62px;
			border:       #459364 1px solid;
			border-right: none;
		}
	}
	main {
		article {
			padding:       15px;
			margin-bottom: 22px;
			figure {
				img {
					max-width:  512px;
					max-height: 360px;
					margin:     0 auto;
				}
				figcaption {
					text-align: center;
					margin-top: 5px;
				}
			}
			.publish-date {
				text-align: center;
			}
		}
	}
	aside {
		padding: 15px;
		h4 {
			margin-bottom: 10px;
		}
	}
	footer {
		padding:   10px 20px 5px 20px;
		margin:    22px -20px 0 -20px;
		font-size: 18px;
	}
}
@media (min-width: 769px) and (max-width: 1400px) {
	html {
		font-size: 20px;
		color:     @text-color;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: 22px;
	}
	body {
		margin:                0 20px;
		display:               grid;
		gap:                   20px;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3, max-content);
	}
	header {
		grid-column: 1 / -1;
		margin:      0 -20px;
		img {
			display:      inline-block;
			float:        left;
			width:        20%;
			height:       62px;
			border:       #459364 1px solid;
			border-right: none;
		}
	}
	main {
		display:               grid;
		gap:                   20px;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		grid-column:           1 / 8;
		grid-row:              2 / 3;
		h2 {
			grid-column: 1 / -1;
		}
		article {
			margin-bottom: 0;
			figure {
				img {
					margin: 0 auto;
				}
			}
		}
	}
	aside {
		grid-column: 8 / 13;
		grid-row:    2 / 3;
	}
	footer {
		grid-column: 1 / -1;
		padding:     5px 20px;
		margin:      0 -20px;
	}
}
//
@media (min-width: 1401px) {
	html {
		font-size: 22px;
		color:     @text-color;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: 24px;
	}
	p {
		text-indent: 30px;
	}
	body {
		margin:                0 30px;
		display:               grid;
		gap:                   30px;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3, max-content);
	}
	header {
		grid-column: 1 / -1;
		margin:      0 -30px;
		img {
			display:      inline-block;
			float:        left;
			width:        15%;
			height:       62px;
			border:       #459364 1px solid;
			border-right: none;
		}
	}
	main {
		display:               grid;
		gap:                   30px;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		grid-column:           1 / 10;
		grid-row:    2 / 3;
		#search {
			grid-column: 1 / -1;
		}
		h2 {
			grid-column:    1 / -1;
			text-align:     center;
			text-transform: uppercase;
			margin:         0;
			color:          #ffffff;
			vertical-align: baseline;
		}
		article {
			background-color: @bg-color-grey;
			padding:          20px;
			margin-bottom:    0;
			min-width:        350px;
			align-content:    center;
			h3 {
				text-align:    center;
				margin-bottom: 10px;
			}
			border:           #459364 1px solid;
			box-shadow:       @shadow-color 0 0 5px;
			figure {
				img {
					margin: 0 auto;
				}
				figcaption {
					margin-top: 5px;
					text-align: center;
				}
			}
			.publish-date {
				text-align: center;
			}
		}
	}
	aside {
		grid-column: 10 / 13;
		grid-row:    2 / 3;
		border:      #459364 1px solid;
		box-shadow:  @shadow-color 0 0 5px;
		padding:     5px;
		margin:      0;
		h4 {
			margin-bottom: 5px;
		}
	}
	footer {
		grid-column: 1 / -1;
		grid-row:    3 / 4;
		padding:     10px 30px;
		margin:      0 -30px;
		border-top:  #459364 1px solid;
		box-shadow:  @shadow-color 0 0 5px;
	}
}