body {
  display: grid;
  grid-template-areas: "h" "m" "a" "f";
}
article {
  max-width: 400px;
}
@media (min-width: 1000px) {
  aside {
    min-width: 350px;
    background-color: #373438;
  }
  body {
    display: grid;
    gap: 20px;
    grid-template-areas: "h h h h h h h h h" "m m m m m m m m a" "m m m m m m m m a" "f f f f f f f f f";
  }
}
