html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping
p {
	text-wrap: pretty;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
html {
  font-family: "sf_regular", "Arial", sans-serif;
  background-color: #0c2a31;
  font-size: 14px;
  color: #e7e7e7;
  color: #393939;
}
a {
  text-decoration: none;
  color: #a1d8ff;
  transition: color 0.15s;
}
a:hover {
  color: #37a6f0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  color: #ffffff;
  font-family: "sf_regular", "Arial", sans-serif;
}
body {
  margin: 0 10px;
}
header {
  box-shadow: #37a6f0 0 0 5px;
}
header img {
  width: 100%;
  max-height: 200px;
}
header nav[aria-label="Главная"] ul {
  background-color: #373438;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
}
header nav[aria-label="Главная"] ul:last-child {
  border-right: #459364 1px solid;
}
header nav[aria-label="Главная"] ul li {
  width: 100%;
  border: #459364 1px solid;
  border-right: none;
}
header nav[aria-label="Главная"] ul li a {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 15px 5px;
}
main h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
  color: #ffffff;
  vertical-align: baseline;
}
main article {
  background-color: #373438;
  padding: 5px;
  margin-bottom: 20px;
  border: #459364 1px solid;
  box-shadow: #37a6f0 0 0 5px;
}
main article h3 {
  text-align: center;
  margin-bottom: 10px;
}
main article figure figcaption {
  margin-top: 5px;
  text-align: center;
}
main article .publish-date {
  text-align: center;
}
aside {
  text-align: center;
  background-color: #373438;
  border: #459364 1px solid;
  box-shadow: #37a6f0 0 0 5px;
  padding: 5px;
}
aside img {
  margin: 0 auto;
}
aside h4 {
  margin-bottom: 5px;
}
footer {
  background-color: #373438;
  padding: 0 10px;
  margin: 0 -10px;
  border-top: #459364 1px solid;
  box-shadow: #37a6f0 0 0 5px;
  margin-top: 25px;
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  body {
    margin: 0 20px;
  }
  header img {
    display: inline-block;
    float: left;
    width: 20%;
    height: 62px;
    border: #459364 1px solid;
    border-right: none;
  }
  main article {
    padding: 15px;
    margin-bottom: 22px;
  }
  main article figure img {
    max-width: 512px;
    max-height: 360px;
    margin: 0 auto;
  }
  main article figure figcaption {
    text-align: center;
    margin-top: 5px;
  }
  main article .publish-date {
    text-align: center;
  }
  aside {
    padding: 15px;
  }
  aside h4 {
    margin-bottom: 10px;
  }
  footer {
    padding: 10px 20px 5px 20px;
    margin: 22px -20px 0 -20px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-family: "sf_regular", "Arial", sans-serif;
    background-color: #0c2a31;
    font-size: 14px;
    color: #e7e7e7;
  }
  a {
    text-decoration: none;
    color: #a1d8ff;
    transition: color 0.15s;
  }
  a:hover {
    color: #37a6f0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    color: #ffffff;
    font-family: "sf_regular", "Arial", sans-serif;
  }
  body {
    margin: 0 10px;
  }
  header {
    box-shadow: #37a6f0 0 0 5px;
  }
  header img {
    width: 100%;
    max-height: 200px;
  }
  header nav[aria-label="Главная"] ul {
    background-color: #373438;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
  }
  header nav[aria-label="Главная"] ul:last-child {
    border-right: #459364 1px solid;
  }
  header nav[aria-label="Главная"] ul li {
    width: 100%;
    border: #459364 1px solid;
    border-right: none;
  }
  header nav[aria-label="Главная"] ul li a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 5px;
  }
  main h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
    color: #ffffff;
    vertical-align: baseline;
  }
  main article {
    background-color: #373438;
    padding: 5px;
    margin-bottom: 20px;
    border: #459364 1px solid;
    box-shadow: #37a6f0 0 0 5px;
  }
  main article h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  main article figure figcaption {
    margin-top: 5px;
    text-align: center;
  }
  main article .publish-date {
    text-align: center;
  }
  aside {
    text-align: center;
    background-color: #373438;
    border: #459364 1px solid;
    box-shadow: #37a6f0 0 0 5px;
    padding: 5px;
  }
  aside h4 {
    margin-bottom: 5px;
  }
  footer {
    background-color: #373438;
    padding: 0 10px;
    margin: 0 -10px;
    border-top: #459364 1px solid;
    box-shadow: #37a6f0 0 0 5px;
    margin-top: 25px;
  }
}
:root {
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: #393939;
  --pagefind-ui-text: #37a6f0;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: system, -apple-system, "BlinkMacSystemFont", ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Ubuntu", "arial", sans-serif;
}
