@import url(./reset);
@import url(./vars);
html {
	font-family:      "sf_regular", "Arial", sans-serif;
	background-color: @bg-color-dark;
	font-size:        16px;
	color:            @text-color;
}
a {
	text-decoration: none;
	color:           #a1d8ff;
	transition:      color .2s;
	&:hover {
		color: darken(#37a6f0, 20%);
	}
}
h1, h2, h3, h4, h5, h6 {
	font-size:   18px;
	color:       #ffffff;
}
body {
	margin: 0 10px;
}
header {
	img {
		width:      100%;
		max-height: 200px;
		border:           #459364 1px solid;
		border-bottom: none;
	}
	nav[aria-label="Главная"] {
		ul {
			background-color: @bg-color-grey;
			display:          flex;
			justify-content:  space-evenly;
			align-items:      center;
			font-size:        20px;
			text-transform:   uppercase;
			&:last-child {
				border-right: #459364 1px solid;
			}
			li {
				width:            100%;
				border:           #459364 1px solid;
				border-right:     none;
				background-color: @bg-color-grey;
				transition: background-color .2s;
				&:hover {
					background-color: darken(#373438, 5%);
				}
				a {
					font-family: "fira_code", "Arial", sans-serif;
					display:     inline-block;
					text-align:  center;
					width:       100%;
					padding:     15px 5px;
				}
			}
		}
	}
}
main {
	h2 {
		text-align:     center;
		text-transform: uppercase;
		margin:         10px 0 5px 0;
		color:          #ffffff;
		vertical-align: baseline;
	}
	article {
		background-color: @bg-color-grey;
		padding:          10px;
		margin-bottom: 15px;
		h3 {
			text-align:    center;
			margin-bottom: 10px;
		}
		border:           #459364 1px solid;
		box-shadow:       @shadow-color 0 0 5px;
		figure {
			figcaption {
				margin-top: 5px;
				text-align: center;
			}
		}
		.publish-date {
			text-align: center;
		}
	}
}
aside {
	text-align:       center;
	border:           #459364 1px solid;
	box-shadow:       @shadow-color 0 0 5px;
	padding:          5px;
	background-color: @bg-color-grey;
	img {
		margin: 0 auto;
	}
	h4 {
		margin-bottom: 5px;
	}
}
footer {
	background-color: @bg-color-grey;
	padding:          0 10px;
	margin:           15px -10px 0 -10px;
	border-top:       #459364 1px solid;
	box-shadow:       @shadow-color 0 0 5px;
}
@import "grid";
@import "search";