@media (min-width: 577px) {
  header img {
    width: 25%;
    height: 65px;
    float: left;
    border: #459364 1px solid;
    border-right: none;
  }
  header nav[aria-label="Главная"] ul {
    background-color: #373438;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
  }
  header nav[aria-label="Главная"] ul li {
    width: 100%;
  }
  header nav[aria-label="Главная"] ul li a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 0;
  }
}
@media (min-width: 1000px) {
  main {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #37a6f0;
  }
}
